<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/02_utility_classes" target="_blank">Target</a>
</p>

<!-- Add utility classes and/or elements as needed to achieve the target appearance. -->
<div class="d-flex justify-content-around">
  <a class="btn btn-primary">First</a>
<a class="btn btn-success">Second</a>
<a class="btn btn-danger">Third</a>
</div>

  <hr>
<div class="d-flex justify-content-between">
  Inbox
  <a class="btn btn-danger btn-sm">42</a>
</div>

<hr>
